body span {
    color: #FCA205;
    font-family: 'Lobster';
}

* {
    color: rgb(48, 48, 56);
    font-family: "Noto Sans KR", sans-serif;
}

header a span {
    margin-left: 30px;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.move {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.container {
    margin-bottom: 30px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

.greet {
    margin-right: 20px;
}

.fstbtn {
    width: 280px;
    display: flex;
    justify-content: space-around;
}

img {
    width: 250px;
}

.follow p button {
    font-size: xx-large
}