{% extends 'base.html' %}

{% block content %}
<h1>{{ member.username }}의 프로필 페이지</h1>
<a href="{% url 'products:products_list' %}">목록으로</a>
<form action="{% url 'users:follow' username=member.username %}" method="POST">
    {% csrf_token %}
    {% if request.user in member.followers.all %}
    <input type="submit" value="언팔로잉">
    {% else %}
    <input type="submit" value="팔로잉">
    {% endif %}
</form>

<p>가입일: {{ member.date_joined }}</p>
<p>내가 등록한 물건들</p> 
{% for product in products %}
<ul>
<li><a href="{% url 'products:product_detail' product.pk %}">{{ product.name }}</a></li>
</ul>
{% endfor %}

<p>내가 찜한 물건들</p> 
{% for like in likes %}
<ul>
<li><a href="{% url 'products:product_detail' like.pk %}">{{ like.name }} [{{ like.title }}]</a></li>
</ul>
{% endfor %}

{% endblock content %}